<div class="container">
  <app-header-title [showBack]=1 [isDialog]="isDialog" [title]="'UserEntry'" [icon]="'credit_card'"></app-header-title>
  <mat-accordion>
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>attach_money</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          {{'UserEntry' | translate}}
        </mat-panel-description>
      </mat-expansion-panel-header>





      <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
        <mat-step [stepControl]="firstFormGroup">


          <form [formGroup]="myForm" novalidate (ngSubmit)="save()">
            <ng-template matStepLabel>Torunée</ng-template>
            <div class="row">
              <div class="col-12 col-lg-6">


                <mat-form-field>
                  <input matInput [matDatepicker]="picker" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedUserEntry.dateUserEntry" placeholder="Date de la tournée">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-12 col-lg-6">
                <app-autocomplete [title]="'Tours'" [singleChoice]=true [typeAutocomplete]="'tour'" [arrayContent]="fetchedUserEntry.tours">
                </app-autocomplete>
              </div>
              <div class="col-12 col-lg-6">
                <button mat-button matStepperNext>Suivant</button>
              </div>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form novalidate [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Bordereau</ng-template>
            <mat-form-field>
              <input matInput type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedUserEntry.info2" placeholder="Bordereau">
            </mat-form-field>
            <mat-form-field>
              <input matInput type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedUserEntry.info2" placeholder="PPI">
            </mat-form-field>
            <mat-form-field>
              <input matInput type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="fetchedUserEntry.info3" placeholder="Emport">
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          You are now done.
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>


      <mat-action-row>
        <div class="spaceBetween width100perc">
          <div>
            <button *ngIf="fetchedUserEntry._id" mat-mini-fab color="warn" (click)="openDialogDelete()">
              <mat-icon aria-label="delete">delete</mat-icon>
            </button>
          </div>
          <button mat-mini-fab color="primary" (click)="nextStep()">
            <mat-icon aria-label="Next">forward</mat-icon>
          </button>
        </div>
      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>
</div>
